<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
    </head>
    <body>
        <!-- <header>
            {% if user.is_authenticated %}
                <a href="{% url 'user_logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </header> -->
        <main>
            <div>
                <h1>Signup</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Signup</button>
                </form>
            </div>
        </main>
    </body>
</html>
