{% extends 'base.html' %}

{% block main %}
    <div>
        <h1>My Tasks</h1>
        {% if not tasks_list %}
            <p>You have no tasks</p>
        {% else %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </thead>
                <tbody>
                    {% for task in tasks_list %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock main %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Projects</title>
    </head>
    <body>
        <main>
        </main>
    </body>
</html>
