{% extends 'base.html' %}

{% block main %}
    <div>
        <h1>{{ project_object.name }}</h1>
        <p>{{ project_object.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if not project_object.tasks.all %}
            <p>This project has no tasks</p>
        {% else %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </thead>
                <tbody>
                    {% for project in project_object.tasks.all %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>{{ project.assignee }}</td>
                            <td>{{ project.start_date }}</td>
                            <td>{{ project.due_date }}</td>
                            <td>{{ project.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock main %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Projects</title>
    </head>
    <body>
        <main>
        </main>
    </body>
</html>
